.box {
  font-family: "Raleway", sans-serif;
}
p {
  color: #86928B;
}
.header_item, .item_footer {
  background-color:#E1EDE6;
}
.heading {
  color:#598D66 ;
}

.listFooter {

text-align: right;

}
.pFooter{
  font-size: 20px;
}

.navigation {
  height: 100px;
}

button {
  padding: 15px;
  font-size: larger;
  color: #598D66;
}
.item_footer {
  height: 168px;
}

/* CSS-псевдоклассы*/

a {
  color: #2C2D35;
  text-decoration: none;
}

a:hover {
  color: #598D66;
}

.navigation_a, .listFooter {
  color: #000000;
  font-size: 22px;
}

.navigation_a, .listFooter:focus {
  color: #1c5741;
}

.listFooter {
  color: #000000;
}

.listFooter:active {
  color: #ea5454;
}

.navigation_a  {
  color: #000000;
}

.navigation_a:active {
  color: #ea5454;
}
